*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
body{
    background-color: #FCF9F8;
    
}

nav {
	padding: 0; margin: 0;
	text-align: center;
    
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding-top: 100px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    line-height: 50px;
    
}

nav ul li a{
    color: #3d3d3d;
    text-decoration: none;
    font-weight: bold; 
    transition: transform .1s; 
 }

 nav ul li:hover{
    transform: scale(1.01);
 }
 hr {
    width: 800px;
    margin: auto;
    position: relative;    
}

h1 {  
    text-align: center; 
    font-family: 'Work Sans', sans-serif;
    color: #3d3d3d;
}
h2 {
    text-align: center; 
    font-family: 'Work Sans', sans-serif;
    color: #3d3d3d;
}