*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html{
    scroll-behavior: smooth;
}


body{
    background-color: #FCF9F8;
    overflow-x: hidden; 
    
}
.nav {
    
    padding-top: 20px;
    display:flex;
    
}
 h1{
    margin-right: 900px;
    margin-left: 200px;
    font-family: 'Poppins', sans-serif;
    color: #3d3d3d; 

} 

h2 {
    font-family: 'Poppins', sans-serif;
    color: #3d3d3d; 
    font-size: 50px;
    font-weight: bold;
    
}
h3 {
    font-family: 'Poppins', sans-serif;
    color: #484848; 
    font-size: 25px;  
    font-weight: 400;
    text-align: center;
}

.hometext {
    font-family: 'Poppins', sans-serif;
    color: #8e8e8e; 
    font-size: 18px; 
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    width: 500px;
    margin-top: 13px;
}
.nav ul{
    display: inline-flex;
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 17px;
   
   
}
.nav li {
    padding-right: 28px;
    padding-left: 28px;
    padding-top: 6px;
    transition: transform .1s; 
    
}
.nav li:hover {
    transform: scale(1.04);  
}
.social li:hover {
    transform: scale(1.04);  
}

a {
    text-decoration: none;
    color: #3d3d3d;
    display: block;
}
img{
    width: 300px;
    height: 300px; 
    margin-top: 250px;
    margin-left:70px;
   
    
}

.hr{
   margin-top: 20px;
    width: 100%;
    height: 1px;
    background-color: #3d3d3d23;  
}
svg {
    width: 26px;
    height: 26px;
}
i {
    font-size: 26px;
}
.social {
   margin-top: 300px;
   margin-left: 200px;
   margin-right: 150px;
   
}
.social li{
    padding-top: 18px;
    padding-bottom: 18px;
    list-style-type: none;
}
.contenu {
    
    display: flex;
   
    

}
.contenutext {
    display: inline;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 300px;
    width: 430px;
}
.contenutext2 {
    display: none;
    
}

/******************************** BARRE DE NAVIGATION ****************************************/

@media only screen and (max-width: 1669px) {
    h1{
        margin-right: 800px;
        margin-left: 200px;
        font-family: 'Poppins', sans-serif;
        color: #3d3d3d; 
    
    } 
    img{
        width: 300px;
        height: 300px; 
        margin-top: 250px;
       
       
        
    }
    .contenutext {
        display: inline;
        margin-left: 100px;
        margin-right: 200px;
        margin-top: 300px;
        width: 430px;
    }
    .social {
        margin-top: 300px;
        margin-left: 200px;
        margin-right: 150px;
        
     }
  
}
@media only screen and (max-width: 1569px) {
    h1{
        margin-right: 700px;
        margin-left: 200px;
        font-family: 'Poppins', sans-serif;
        color: #3d3d3d; 
    
    } 
    img{
        width: 300px;
        height: 300px; 
        margin-top: 250px;
       
       
        
    }
    .contenutext {
        display: inline;
        margin-left: 100px;
        margin-right: 100px;
        margin-top: 300px;
        width: 430px;
    }
    .social {
        margin-top: 300px;
        margin-left: 200px;
        margin-right: 150px;
        
     }
  

  
}
@media only screen and (max-width: 1469px) {
    h1{
        margin-right: 600px;
        margin-left: 200px;
        font-family: 'Poppins', sans-serif;
        color: #3d3d3d; 
    
    } 
    img{
        width: 300px;
        height: 300px; 
        margin-top: 250px;
       
    }
    .contenutext {
        display: inline;
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 300px;
        width: 430px;
    }
    .social {
        margin-top: 300px;
        margin-left: 200px;
        margin-right: 150px;
        
     }

  
}
@media only screen and (max-width: 1369px) {
    h1{
        margin-right: 500px;
        margin-left: 200px;
        font-family: 'Poppins', sans-serif;
        color: #3d3d3d; 
    
    } 
    img{
        width: 300px;
        height: 300px; 
        margin-top: 250px;
       
       
        
    }
    .contenutext {
        display: inline;
        
        margin-top: 300px;
        width: 430px;
    }
    .social {
        margin-top: 300px;
        margin-left: 200px;
        margin-right: 50px;
        
     }
  
}
@media only screen and (max-width: 1269px) {
    h1{
        margin-right: 400px;
        margin-left: 200px;
        font-family: 'Poppins', sans-serif;
        color: #3d3d3d; 
    
    } 
    .contenutext {
    
        display: none;
        
       
        
    
    }
    .contenutext2 {
    
        display: block;
        
        width: 430px;
    }
    img{
        width: 300px;
        height: 300px; 
        margin-top: 250px;
        
    }
      .contenutextimage{
        margin-left: 200px;
      } 
    
  
}
@media only screen and (max-width: 1169px) {
    h1{
        margin-right: 300px;
        margin-left: 200px;
        font-family: 'Poppins', sans-serif;
        color: #3d3d3d; 
    
    } 

  
}
@media only screen and (max-width: 1169px) {
    nav{
        display: none;
    } 

  
}
